# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# model
*.pth
*.ckpt
*.bin

# Temporary data
features/
results/
.vscode
*debug*
*ckpt*
*search*

# video
*.mp4

# /.gitignore
# .gitignore
# *.gitignore

# gpt
Video-ChatGPT/
video_chatgpt/
docs
figs
examples
examples_v2
llmva-gebc/
vid_chapters/
TransNetV2/
LLaVA-7B-Lightening-v1-1/
Baichuan2/

# outputs
data/qvhighlights/caption/val*
data/qvhighlights/caption/test*